.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
}

/* Full width + height background */
.background {
  
  background-image: url("/Images/bg-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust opacity and color */
  z-index: 1;
  height: 400px;
}

.background > * {
  position: relative;
  z-index: 2;
}

/* Centered content */
.navbar {
  position: absolute;
  padding-left: 20px;
}

.home {
  text-align: center;
  font-family: var(--font-geist-mono);
  color: white;
  padding: 2rem;
}

.home .upload {
  width: 100px;
  height: 100px;
}
.home h3 {
  margin-top: 10px;
}

.home Button {
  margin-top: 20px;
}

.galleryImage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4;
  text-align: center;
  padding: 50px 30px 10px 30px;
}
.galleryImage .image {
  border-radius: 3%;
}

.image {
  transition: transform 0.3s ease;
}
.image:hover {
  transform: scale(1.01);
}


.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .home {
    padding: 1rem;
  }
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
